<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='stylesheet' href='{{ static('css/bootstrap.min.css') }}'>
    <link rel='stylesheet' href='{{ static('css/site.css') }}'>
    <title>500 | S3 Usage</title>
</head>
<body>
<div class='container'>
    <div class='col mt-5'>
        <div class='row text-center'>
            <h1>
                500 Server Error
            </h1>
            <hr>
            <p>
                Not your fault!
            </p>
        </div>
    </div>
</div>
<script src='{{ static('js/bootstrap.bundle.min.js') }}'></script>
</body>
</html>