{% extends 'ajax_table.html' %}
{% block table_body %}
    <table class='table table-striped mt-4'>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Item</th>
            <th scope='col'>Experiment</th>
            <th scope='col'>Assay Type</th>
            <th scope='col'>Hits</th>
            <th scope='col'>Details</th>
        </tr>
        {% for item_name, experiment_name, assay_title, count in table_data %}
            <tr>
                {% set count_label = table_page_size * table_page + loop.index %}
                <th scope='row'>{{ count_label }}</th>
                <td>
                    <a target='_blank'
                       href='{{ get_encode_url('files/' + item_name.split('.')[0]) }}'>{{ item_name }}
                        <span class='ml-2 oi oi-link-intact' aria-hidden='true'></span>
                    </a>
                </td>
                <td>
                    {% if experiment_name is not none %}
                        <a target='_blank'
                           href='{{ get_encode_url('experiments/' + experiment_name) }}'>
                            {{ experiment_name }}
                            <span class='ml-2 oi oi-link-intact' aria-hidden='true'></span>
                        </a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>{{ assay_title or 'N/A' }}</td>
                <td>{{ count }}</td>
                <td>
                    <a id='btn-item-{{ loop.index0 }}'
                       href='{{ url_range_aware('dashboard:item_dashboard', start_time, end_time, kwargs={'item_name': item_name}) }}'>
                        Details
                        <span class='ml-2 oi oi-bar-chart' aria-hidden='true'></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock table_body %}
