{% extends 'base.html' %}
{% set page_name = 'dashboard' %}
{% block title %}Dashboard{% endblock %}
{% from 'render_form_macro.html' import render_form with context %}
{% from 'dashboard_macros.html' import render_item_table, render_user_table, render_table_row, render_time_range with context %}
{% macro render_stat(stat, display_name, format='regular') %}
    <div class='col text-center m-4'>
        {% if stat is not none %}
            <p class='counter display-3' format='{{ format }}'
               {% if is_default %}data-count='{{ stat }}'>
                   0
               {% else %}>
                   {{ stat }}
               {% endif %}
            </p>
        {% else %}
            <p class='display-2'>None</p>
        {% endif %}
        <h3 class='fade-in-header'>{{ display_name }}</h3>
    </div>
{% endmacro %}
{% block content %}
    {% include 'navbar.html' %}
    <div class='container'>
        <div class='col m-4'>
            <div class='row'>
                {{ render_stat(total_request_count, 'Total Downloads') }}
                {{ render_stat(unique_request_count, 'Unique Downloads') }}
                {{ render_stat(average_file_size, 'Average File Size', 'space') }}
            </div>
            <div class='row'>
                {{ render_stat(unique_ips, 'Unique IPs') }}
                {{ render_stat(unique_files, 'Unique Files') }}
                {{ render_stat(unique_requesters, 'Unique Requesters') }}
            </div>
            {{ render_time_range() }}
            <hr>
            <div class='row m-4'>
                {% if time_info_counts is not none %}
                    <canvas class='m-4 chart' id='time-chart'></canvas>
                {% endif %}
                {% if most_queried_data is not none %}
                    <canvas class='m-4 chart' id='most-queried-chart'></canvas>
                {% endif %}
            </div>
            {{ render_table_row(render_item_table, most_queried_table, 'Most Uniquely Downloaded') }}
            {{ render_table_row(render_user_table, biggest_users, 'Most Active Downloaders') }}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            {% if most_queried_data is not none %}
                new Chart($('#most-queried-chart')[0].getContext('2d'), {
                    type: 'bar',
                    data: {
                        labels: {{ most_queried_labels|safe }},
                        datasets: [{
                            label: '# of unique hits',
                            data: {{ most_queried_data|safe }},
                            backgroundColor: chartBackgroundColors,
                            borderColor: chartLineColors,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        animation: {
                            duration: 5000
                        },
                        onClick: function (event, elements) {
                            const element = this.getElementAtEvent(event)[0];
                            if (element !== undefined && element._index !== undefined) {
                                document.getElementById('btn-item-' + element._index).click();
                            }
                        }
                    }
                });
            {% endif %}
            {% if time_info_counts is not none %}
                new Chart($('#time-chart')[0].getContext('2d'), {
                    type: 'line',
                    data: {
                        labels: {{ time_info_times|safe }},
                        datasets: [{
                            label: '# of server hits',
                            data: {{ time_info_counts|safe }},
                            backgroundColor: getChartBackgroundColor(0),
                            borderColor: getChartLineColor(0),
                            borderWidth: 1
                        }]
                    },
                    options: {
                        animation: {
                            duration: 4000
                        },
                        scales: {
                            xAxes: [{
                                type: 'time',
                                time: {
                                    unit: 'day'
                                }
                            }]
                        }
                    }
                });
            {% endif %}

            {% if is_default %}
                $('.fade-in-header').fadeTo(0, 0).delay(1000).fadeTo(500, 1);
                $('.chart').fadeTo(0, 0).delay(1000).fadeTo(500, 1);
            {% else %}
                $('.counter').each(function () {
                    $(this).text(formatCount($(this).text(), $(this).attr('format')))
                });
            {% endif %}
        });
    </script>
{% endblock %}