{% macro render_back_button() %}
    <a class='mx-4 btn btn-primary text-light align-self-center' role='button'
            {% if is_default %}
       href='{{ url('dashboard:dashboard') }}'
            {% else %}
       href='{{ url('dashboard:dashboard_range', kwargs={'start_time':start_time, 'end_time':end_time}) }}'
            {% endif %}
    >
        <span class='oi oi-arrow-left' aria-hidden='true'></span>
        Dashboard
    </a>
{% endmacro %}

{% macro render_item_table(table_data) %}
    <table class='table table-striped mt-4'>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Item</th>
            <th scope='col'>Experiment</th>
            <th scope='col'>Assay Type</th>
            <th scope='col'>Hits</th>
            <th scope='col'>Details</th>
        </tr>
        {% for item, count in table_data %}
            <tr>
                {% set name = render_s3_key(item.s3_key) %}
                <th scope='row'>{{ loop.index }}</th>
                <td>
                    <a target='_blank'
                       href='{{ get_encode_url('files/' + name.split('.')[0]) }}'>{{ name }}
                        <span class='ml-2 oi oi-link-intact' aria-hidden='true'></span>
                    </a>
                </td>
                <td>
                    {% if item.experiment is not none %}
                        <a target='_blank'
                           href='{{ get_encode_url('experiments/' + item.experiment) }}'>
                            {{ item.experiment }}
                            <span class='ml-2 oi oi-link-intact' aria-hidden='true'></span>
                        </a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>{{ item.assay_title or 'N/A' }}</td>
                <td>{{ count }}</td>
                <td>
                    <a id='btn-item-{{ loop.index0 }}'
                            {% if is_default %}
                       href='{{ url('dashboard:item_dashboard', kwargs={'item_name':name}) }}'
                            {% else %}
                       href='{{ url('dashboard:item_dashboard_range', kwargs={'item_name':name, 'start_time':start_time, 'end_time':end_time}) }}'
                            {% endif %}
                    >
                        Details
                        <span class='ml-2 oi oi-bar-chart' aria-hidden='true'></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro render_user_table(users) %}
    <table class='table table-striped mt-4'>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>IP Address</th>
            <th scope='col'>Requester</th>
            <th scope='col'>Hits</th>
        </tr>
        {% for user in users %}
            {% set requester = user['requester'] %}
            {% set ip_address = user['ip_address'] %}
            <tr>
                <th scope='row'>{{ loop.index }}</th>
                <td>
                    {% if ip_address is not none %}
                        <a id='btn-requester-{{ loop.index0 }}'
                                {% if is_default %}
                           href='{{ url('dashboard:ip_address_dashboard', kwargs={'ip_address':ip_address}) }}'
                                {% else %}
                           href='{{ url('dashboard:ip_address_dashboard_range', kwargs={'ip_address':ip_address, 'start_time':start_time, 'end_time':end_time}) }}'
                                {% endif %}
                        >
                            {{ ip_address }}
                        </a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    {% if requester is not none %}
                        <a id='btn-requester-{{ loop.index0 }}'
                                {% if is_default %}
                           href='{{ url('dashboard:requester_dashboard', kwargs={'requester':requester}) }}'
                                {% else %}
                           href='{{ url('dashboard:requester_dashboard_range', kwargs={'requester':requester, 'start_time':start_time, 'end_time':end_time}) }}'
                                {% endif %}
                        >
                            {{ requester }}
                        </a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>{{ locale_format(user['count']) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro render_table_row(table_render, data, header) %}
    {% if data is not none %}
        <div class='row m-4'>
            <div class='col text-center'>
                <h1>{{ header }}</h1>
            </div>
            {{ table_render(data) }}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_time_range() %}
    {% if not is_default %}
        <div class='row'>
            <div class='col text-center'>
                <hr>
                <p class='lead mb-0'>From {{ start_time.strftime('%m/%d/%Y') }}
                    to {{ end_time.strftime('%m/%d/%Y') }}
                </p>
            </div>
        </div>
    {% endif %}
{% endmacro %}