{% macro render_back_button() %}
    <a class='mx-4 btn btn-primary text-light align-self-center' role='button'
       href='{{ url_range_aware('dashboard:dashboard', start_time, end_time) }}'>
        <span class='oi oi-arrow-left' aria-hidden='true'></span>
        Dashboard
    </a>
{% endmacro %}

{% macro render_time_range() %}
    {% if not is_default %}
        <div class='row'>
            <div class='col text-center'>
                <hr>
                <p class='lead mb-0'>From {{ start_time.strftime('%m/%d/%Y') }}
                    to {{ end_time.strftime('%m/%d/%Y') }}
                </p>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_stat(stat, display_name, format='regular') %}
    <div class='col text-center m-4'>
        {% if stat is not none %}
            <p class='counter display-3' format='{{ format }}'
               {% if is_default %}data-count='{{ stat }}'>
                   0
               {% else %}>
                   {{ stat }}
               {% endif %}
            </p>
        {% else %}
            <p class='display-2'>None</p>
        {% endif %}
        <h3 class='fade-in-header'>{{ display_name }}</h3>
    </div>
{% endmacro %}

{% macro ajax_table(view_name, table_id, start_time=None, end_time=None, kwargs=None) %}
    $.ajax({
        url: '{{ url_range_aware(view_name, start_time, end_time, kwargs) }}',
        success: function (result) {
            $('#{{ table_id }}').fadeTo(0, 0).html(result).fadeTo(500, 1);
        },
        error: function (error) {
            $('#{{ table_id }}').children().first().html('Error loading table data')
        }
    });
{% endmacro %}
