{% extends 'base.html' %}
{% set page_name = 'dashboard' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class='container'>
        <div class='col mt-2'>
            <div class='text-center'>
                <p class='counter display-1' data-count='{{ request_count }}'>0</p>
                <h3 id='requests-made-text'>Requests Made to S3</h3>
            </div>
            <div class='row p-5'>
                <canvas id='most-queried-chart' style='width: 100%; height: 60vh'></canvas>
                {#                <canvas id='most-using-chart' style='width: 100%; height: 60vh'></canvas>#}
            </div>
            <div class='row p5'>
                <table class='table'>
                    <tr>
                        <th scope='col'>Item</th>
                        <th scope='col'>Count</th>
                    </tr>
                    {% for item in most_queried %}
                        <tr>
                            <td>{{ item.s3_key }}</td>
                            <td>{{ item.total }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function makeChart(canvas, labels, data) {
            return new Chart(canvas[0].getContext('2d'), {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '# of Hits',
                        data: data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }

        $('.counter').fadeTo(0, 0).fadeTo(1000, 1).each(function () {
            const $this = $(this), countTo = $this.attr('data-count');
            $({finalNumber: $this.text()}).animate({
                    finalNumber: countTo
                },
                {
                    duration: 1500,
                    easing: 'swing',
                    step: function () {
                        $this.text(Math.floor(this.finalNumber).toLocaleString());
                    },
                    complete: function () {
                        $this.text(this.finalNumber.toLocaleString());
                    }
                });
        });

        $('#requests-made-text').fadeTo(0, 0).delay(1000).fadeTo(500, 1);
        const $mostQueriedChart = $('#most-queried-chart');
        $mostQueriedChart.fadeTo(0, 0).finish().fadeTo(1000, 1);
        const mostQueriedChart = makeChart($mostQueriedChart, {{ most_queried_labels|safe }}, {{ most_queried_data|safe }});
        {#const mostUsingChart = makeChart($('#most-using-chart'), {{ most_using_labels|safe }}, {{ most_using_data|safe }});#}
    </script>
{% endblock %}