{% extends 'base.html' %}
{% set page_name = 'dashboard' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class='container'>
        <div class='col m-4'>
            <div class='text-center m-4'>
                <p class='counter display-1' data-count='{{ request_count }}'>0</p>
                <h3 id='requests-made-text'>Requests Made to S3 Server</h3>
            </div>
            <hr>
            <div class='row m-4'>
                <canvas class='m-4' id='time-chart' style='width: 100%; height: 60vh'></canvas>
                <canvas class='m-4' id='most-queried-chart' style='width: 100%; height: 60vh'></canvas>
{#                <canvas class='m-2' id='most-using-chart' style='width: 100%; height: 60vh'></canvas>#}
            </div>
            <div class='row m-4'>
                <table class='table'>
                    <tr>
                        <th scope='col'>Item</th>
                        <th scope='col'>Experiment</th>
                        <th scope='col'>Assay Type</th>
                        <th scope='col'>Count</th>
                    </tr>
                    {% for most_queried in most_queried_table %}
                        <tr>
                        {% set name = render_s3_key(most_queried.item.s3_key) %}
                            <td><a target='_blank' href='{{ get_encode_url(name.split('.')[0]) }}'>{{ name }}</a></td>
                            <td><a target='_blank' href='{{ get_encode_url('experiments/' + most_queried.item.experiment) }}'>{{ most_queried.item.experiment }}</a></td>
                            <td>{{ most_queried.item.assay_title }}</td>
                            <td>{{ most_queried.count }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function makeBarChart(canvas, labels, data) {
            return new Chart(canvas[0].getContext('2d'), {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '# of Hits',
                        data: data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }

        function makeTimeChart(canvas, times, counts) {
            return new Chart(canvas[0].getContext('2d'), {
                    type: 'line',
                    data: {
                        labels: times,
                        datasets: [{
                            label: '# of hits',
                            data: counts,
                            borderColor: 'rgba(54, 162, 235, 1)',
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderWidth: 1
                        }],
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                type: 'time',
                                time: {
                                    unit: 'day'
                                }
                            }]
                        }
                    }
                }
            )
        }

        $('.counter').fadeTo(0, 0).fadeTo(1000, 1).each(function () {
            const $this = $(this), countTo = $this.attr('data-count');
            $({finalNumber: $this.text()}).animate({
                    finalNumber: countTo
                },
                {
                    duration: 1500,
                    easing: 'swing',
                    step: function () {
                        $this.text(Math.floor(this.finalNumber).toLocaleString());
                    },
                    complete: function () {
                        $this.text(this.finalNumber.toLocaleString());
                    }
                });
        });

        $('#requests-made-text').fadeTo(0, 0).delay(1000).fadeTo(500, 1);
        const $mostQueriedChart = $('#most-queried-chart');
        $mostQueriedChart.fadeTo(0, 0).finish().fadeTo(1000, 1);
        const mostQueriedChart = makeBarChart($mostQueriedChart, {{ most_queried_labels|safe }}, {{ most_queried_data|safe }}),
            {#mostUsingChart = makeBarChart($('#most-using-chart'), {{ most_using_labels|safe }}, {{ most_using_data|safe }}),#}
            timeChart = makeTimeChart($('#time-chart'), {{ time_info_times|safe }}, {{ time_info_counts|safe }});
    </script>
{% endblock %}