{% macro render_back_button() %}
    <a class='mx-4 btn btn-primary text-light align-self-center' role='button'
       href='{{ url_range_aware('dashboard:dashboard', start_time, end_time) }}'>
        <span class='oi oi-arrow-left' aria-hidden='true'></span>
        Dashboard
    </a>
{% endmacro %}

{% macro render_time_range() %}
    {% if not is_default %}
        <div class='row'>
            <div class='col text-center'>
                <hr>
                <p class='lead mb-0'>From {{ start_time.strftime('%m/%d/%Y') }}
                    to {{ end_time.strftime('%m/%d/%Y') }}
                </p>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_stat(stat_name, display_name, format='regular', start_time=None, end_time=None) %}
    <div class='col text-center m-4'>
        {% set current_view = request.resolver_match.view_name %}
        <p class='counter display-3' format='{{ format }}'
           data-url='{{ url_range_aware(current_view + '_stats', start_time, end_time, kwargs={'stat_name': stat_name }) }}'>
            <span class='spinner-grow' role='status' aria-hidden='true'></span>
        </p>
        <h3 class='fade-in-header'>{{ display_name }}</h3>
    </div>
{% endmacro %}

{% macro ajax_table(view_name, table_id, start_time=None, end_time=None, kwargs=None) %}
    $.ajax({
        url: '{{ url_range_aware(view_name, start_time, end_time, kwargs) }}',
        success: function (result) {
            $('#{{ table_id }}').fadeTo(0, 0).html(result).fadeTo(500, 1);
        },
        error: function (error) {
            $('#{{ table_id }}').children().first().html('Error loading table data')
        }
    });
{% endmacro %}
