{% extends 'base.html' %}
{% set page_name = 'dashboard' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <div class='d-flex flex-row justify-content-center m-4'>
                    <a class='mx-4 btn btn-primary text-light align-self-center' role='button'
                            {% if is_default %}
                       href='{{ url('dashboard:dashboard') }}'
                            {% else %}
                       href='{{ url('dashboard:dashboard_range', kwargs={'start_time':start_time, 'end_time':end_time}) }}'
                            {% endif %}
                    >
                        <span class='oi oi-arrow-left' aria-hidden='true'></span>
                        Back
                    </a>
                    <h1 class='mx-4 mb-0 align-self-center'>
                        {{ item.name }}
                    </h1>
                </div>
            </div>
        </div>
        {% if not is_default %}
            <div class='row'>
                <div class='col text-center'>
                    <hr>
                    <p class='lead mb-0'>From {{ start_time.strftime('%m/%d/%Y') }}
                        to {{ end_time.strftime('%m/%d/%Y') }}</p>
                </div>
            </div>
        {% endif %}
        <div class='row'>
            <div class='col'>
                {% if request_breakdown_data is not none %}
                    <hr>
                    <canvas class='m-4 chart' id='request-breakdown-chart'
                            style='width: 100%; height: 50vh'></canvas>
                {% else %}
                    <hr>
                    <p class='text-center'>Looks like there were no requesters in this time range!</p>
                {% endif %}
            </div>
        </div>
        <div class='row mt-5'>
            <div class='col'>
                <div class='text-center'>
                    <h2>General Information</h2>
                </div>
                <table class='table table-striped mt-4'>
                    <tr>
                        <td>Name</td>
                        <td class='text-right'>
                            <a target='_blank'
                               href='{{ get_encode_url('files/' + item.name.split('.')[0]) }}'>{{ item.name }}
                                <span class='ml-2 oi oi-external-link' aria-hidden='true'></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Experiment</td>
                        <td class='text-right'>
                            <a target='_blank'
                               href='{{ get_encode_url('experiments/' + item.experiment) }}'>
                                {{ item.experiment }}
                                <span class='ml-2 oi oi-external-link' aria-hidden='true'></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Assay Type</td>
                        <td class='text-right'>{{ item.assay_title }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            {% if request_breakdown_data is not none %}
                new Chart($('#request-breakdown-chart')[0].getContext('2d'), {
                    type: 'bar',
                    data: {
                        labels: ['Requester'],
                        datasets: [
                            {% for label, datum in zip(request_breakdown_labels, request_breakdown_data) %}
                                {
                                    label: ['{{ label|safe }}'],
                                    data: ['{{ datum|safe }}'],
                                    backgroundColor: getChartBackgroundColor({{ loop.index0 }}),
                                    borderColor: getChartLineColor({{ loop.index0 }}),
                                    borderWidth: 1
                                },
                            {% endfor %}
                        ]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                stacked: true
                            }],
                            yAxes: [{
                                stacked: true
                            }]
                        }
                    }
                });
            {% endif %}
        });
    </script>
{% endblock %}