{% extends 'base.html' %}
{% set page_name = 'dashboard' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class='container'>
        <div class='col m-4'>
            <div class='row'>
                <div class='col text-center'>
                    <h1>{{ item_name }}</h1>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <div class='m-4 chart' id='request-breakdown-chart' style='width: 100%; height: 60vh'></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        Plotly.newPlot('request-breakdown-chart', [{
                x: {{ request_breakdown_labels|safe }},
                y: {{ request_breakdown_data|safe }},
                marker: {
                    color: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    line: {
                        color: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        width: 1
                    }
                },
                type: 'bar'
            }], {
                title: 'Most requests by user',
                barmode: 'stack',
                xaxis: {
                    title: 'Requester'
                }, yaxis: {
                    title: 'Request count'
                }
            }
        );
    </script>
{% endblock %}