{% extends 'specific_dashboard.html' %}
{% set page_name = 'dashboard' %}
{% from 'user_table.html' import render_user_rows with context %}
{% block title %}Item Dashboard{% endblock %}
{% block dashboard_content %}
    <div class='row'>
        <div class='col'>
            {% if request_breakdown_data is not none %}
                <hr>
                <canvas class='m-4 chart' id='request-breakdown-chart'></canvas>
            {% else %}
                <hr>
                <p class='text-center'>Looks like there were no requesters in this time range!</p>
            {% endif %}
        </div>
    </div>
    <div class='row mt-5'>
        <div class='col'>
            <div class='text-center'>
                <h2>General Information</h2>
            </div>
            <table class='table table-striped mt-4'>
                <tr>
                    <td>Name</td>
                    <td class='text-right'>
                        <a target='_blank'
                           href='{{ get_encode_url('files/' + item.name.split('.')[0]) }}'>{{ item.name }}
                            <span class='ml-2 oi oi-link-intact' aria-hidden='true'></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Experiment</td>
                    <td class='text-right'>
                        {% if item.experiment is not none %}
                            <a target='_blank'
                               href='{{ get_encode_url('experiments/' + item.experiment.name) }}'>
                                {{ item.experiment.name }}
                                <span class='ml-2 oi oi-link-intact' aria-hidden='true'></span>
                            </a>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Assay Type</td>
                    <td class='text-right'>{{ item.assay_title or 'N/A' }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class='row mt-5'>
        <div class='col text-center'>
            <h2>Biggest Downloaders</h2>
        </div>
        <table class='table table-striped mt-4'>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>IP Address</th>
                <th scope='col'>Requester</th>
                <th scope='col'>Total Downloads</th>
            </tr>
            {{ render_user_rows(ip_breakdown) }}
        </table>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            {% if request_breakdown_data is not none %}
                new Chart($('#request-breakdown-chart')[0].getContext('2d'), {
                    type: 'bar',
                    data: {
                        labels: ['IP Address', 'Requester'],
                        datasets: [
                            {% for (requester, requester_count), (ip_address, _, ip_address_count) in zip_longest(request_breakdown, ip_breakdown, fillvalue=Noneok) %}
                                {
                                    label: [
                                        '{{ ip_address|safe if ip_data else 'N/A' }}',
                                        '{{ requester|safe if request_data else 'N/A' }}'
                                    ],
                                    data: [
                                        '{{ ip_address_count|safe if ip_data else 0 }}',
                                        '{{ requester_count|safe if request_data else 0 }}'
                                    ],
                                    backgroundColor: getChartBackgroundColor({{ loop.index0 }}),
                                    borderColor: getChartLineColor({{ loop.index0 }}),
                                    borderWidth: 1
                                },
                            {% endfor %}
                        ]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                stacked: true
                            }],
                            yAxes: [{
                                stacked: true
                            }]
                        },
                        onClick: function (event, elements) {
                            const element = this.getElementAtEvent(event)[0];
                            if (element !== undefined) {
                                if (element._index === 0 && element._datasetIndex !== undefined) {
                                    document.getElementById('btn-requester-' + element._datasetIndex).click();
                                }
                            }
                        }
                    }
                });
            {% endif %}
        });
    </script>
{% endblock %}