{% from 'render_form_macro.html' import render_form with context %}
<nav class='navbar navbar-expand-lg navbar-light bg-light'>
    <a class='navbar-brand' href={{ url('root') }}>S3 Activity Viewer</a>
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown'
            aria-controls='navbarNavDropdown'
            aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNavDropdown'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item{{ ' active' if page_name == 'dashboard' else '' }}'>
                <a class='nav-link' href={{ url('dashboard:dashboard') }}>
                    <span class='mr-2 oi oi-wrench' aria-hidden='true'></span>
                    Dashboard
                </a>
            </li>
            {% if time_range_form is defined and time_range_form is not none %}
                <li class='nav-item dropdown'>
                    <a class='nav-link dropdown-toggle' href='#' id='navFormDropdown' role='button'
                       data-toggle='dropdown'
                       aria-haspopup='true' aria-expanded='false'>
                        Select Time Range
                    </a>
                    <div class='dropdown-menu' aria-labelledby='navFormDropdown'>
                        <form class='m-4' method='post'>
                            {{ csrf_input }}
                            {{ render_form(time_range_form) }}
                            <button type='submit' class='btn btn-block btn-primary'>Go</button>
                        </form>
                    </div>
                </li>
            {% endif %}
            <li class='nav-item dropdown'>
                <a class='nav-link dropdown-toggle' href='#' id='navExperimentDropdown' role='button'
                   data-toggle='dropdown'
                   aria-haspopup='true' aria-expanded='false'>
                    Experiment Case Studies
                </a>
                <div class='dropdown-menu' aria-labelledby='navExperimentDropdown'>
                    <a class='dropdown-item' href='{{ url('dashboard:bernstein_experiment') }}'>Bernstein Lab</a>
                </div>
            </li>
            <li class='ml-5 nav-item'>
                <a class='nav-link'>
                    <span class='mr-2 oi oi-warning' aria-hidden='true'></span>
                    Results may be slow the first time!
                </a>
            </li>
        </ul>
    </div>
</nav>
