{% extends 'base.html' %}
{% set page_name = 'dashboard' %}
{% block title %}Item Dashboard{% endblock %}
{% from 'dashboard_macros.html' import render_back_button, render_table_row, render_item_table, render_time_range, ajax_table with context %}
{% block content %}
    {% include 'navbar.html' %}
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <div class='d-flex flex-row justify-content-center m-4'>
                    {{ render_back_button() }}
                    <h4 class='mx-4 mb-0 align-self-center'>
                        {{ requester }}
                    </h4>
                </div>
            </div>
        </div>
        {{ render_time_range() }}
        <hr>
        <div class='row'>
            <div class='col text-center'>
                <h4>Total Downloads: {{ locale_format(total_downloads) }}</h4>
                <h4>Unique Downloads: {{ locale_format(unique_downloads) }}</h4>
            </div>
        </div>
        <hr>
        {{ render_table_row(render_item_table, most_queried_table, 'Download Totals') }}
    </div>
{% endblock %}